<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{roomname}}</title>
    <style>
        .chatbox{
            width: 90%;
            height: 85dvh;
            border: 1px solid black;
            margin: auto;
            padding: 10px;
            background-color: rgb(238, 238, 238);
            border-radius: 7px;
        }
    </style>
</head>
<body>
    <div class="chatbox">{{roomname}}</div>
</body>
</html>