<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{roomname}}</title>
    <style>
        .chatbox{
            width: 90%;
            height: 85dvh;
            border: 1px solid black;
            margin: auto;
            padding: 10px;
            background-color: rgb(238, 238, 238);
            border-radius: 7px;
        }
        .message_box{
            margin: auto;
            padding: 10px;
            width: 90%;
        }
        #message{
            margin: 5px;
            width: 90%;
        }
    </style>
</head>
<body>
    <div class="chatbox">{{roomname}}</div>
    <form action="submit", class="message_box">
        <input type="text" name="message" id="message">
        <input type="button" value="发送">
    </form>
    
</body>
</html>