<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线聊天室</title>
    <style>
        .start{
            color: black;
            text-decoration: none;
            text-align: center;
            margin: 0 auto;
            border: solid 2px gray;
            border-radius: 5px;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">欢迎来到在线聊天室</h1>
    <div style="margin: 50px auto;width: 20%; text-align: center;">
        <a href="chat/" class="start">开启聊天室</a>
    </div>
    
</body>
</html>